/* 
======================================
; Title: site.css
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This is the main styling sheet for the pets-r-us project
; Sources Used: W3 Schools
;               WEB 200/231
;==================================== 
*/

body {
    font-family: 'Arvo', serif;
    margin: 0;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: #456990;
    font-size: 32px;
    padding-bottom: 30px;
}

p {
    color: #456990;
}

hr {
    margin: auto;
    width: 10%;
    border: 2px solid #456990;
    border-radius: 3px;
}
/* Header Section */
.nav-bar {
    padding: 0 20px 20px;
}

.nav-bar li {
    display: inline;
    padding: 15px;
    font-size: 24px;
    float: right;
    
}

.nav-bar a {
    color: #456990;
    text-decoration: none;
}

/* Banner Section */
.banner-div {
    text-align: center;
}

.banner-header {
    font-size: 64px;
    color: #456990;
}

.banner-header a {
    text-decoration: none;
    color: #456990;
}

.banner-header a:hover {
    text-decoration: none;
    color: #E4FDE1;
}


.slogan-text {
    color: #456990;
    font-size: 28px;
}

.pet-banner {
    width: 85%;
    
}

/* Sections */

.info, .hours, .featured-pet, .testimonials, .contact, .grooming-info, .pricing, .training-info, .boarding-info, .registration, .customers-section {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* What We Do Section */
.info-content {
    display: grid;
    width: 40%;
    margin: auto;
}

.info-photo {
    width: 200px;
    float: left;
}

.info-paragraph {
    width: 50%;
    text-align: left;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.info {
    height: fit-content;
    background-color: #E4FDE1;
}

/* Hours Section */
.hours-content {
    display: grid;
    width: 40%;
    margin: auto;
}

.hours-photo {
    width: 200px;
    float: right;
}

li {
    list-style-type: none;
}

.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 45%;
    float: left;
    font-size: 16px;
    line-height: 28px;
}

.card-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    color: #456990;
}

.card-content {
    text-align: center;
    padding-right: 35px;
    color: #456990;
}

/* Featured Pet Section */

.featured-pet {
    background-color: #E4FDE1;
}

.featured-pet-content {
    display: grid;
    width: 40%;
    margin: auto;
    
}

.featured-pet-bio {
    width: 50%;
    text-align: left;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.featured-pet-photo {
    width: 200px;
    border-radius: 100px;
    float: left;
    
}

/* Contact Section */
.contact {
    background-color: #E4FDE1;
}

/* Testimonials Section */
.testimonial-content {
    width: 40%;
    margin: auto;
}

.testimonial-content p {
    font-size: 18px;
}

/* Footer Section */

footer p {
    float: right;
    padding-right: 15px;
}

/* Grooming Page */
.grooming-info {
    background-color: #E4FDE1;
}

.grooming-content {
    width: 40%;
    margin: auto;
    padding-bottom: 225px;
}

.grooming-paragraph {
    width: 50%;
    text-align: left;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.grooming-photo {
    width: 100px;
    border-radius: 100px;
    float: left;
}

.pricing {
    padding-bottom: 250px;
}

.pricing-content {
    width: 40%;
    margin: auto;
}

.pricing-photo {
    width: 100px;
    border-radius: 100px;
    float: right;
}

/* Training Section */
.training-info {
    background-color: #E4FDE1;
}

.training-content {
    width: 40%;
    margin: auto;
    padding-bottom: 225px;
    
}

.training-paragraph {
    width: 50%;
    text-align: left;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.training-photo {
    width: 100px;
    border-radius: 100px;
    float: left;
}

/* Boarding Section */
.boarding-info {
    background-color: #E4FDE1;
}

.boarding-content {
    width: 40%;
    margin: auto;
    padding-bottom: 225px;
    
}

.boarding-paragraph {
    width: 50%;
    text-align: left;
    float: right;
    font-size: 18px;
    line-height: 30px;
}

.boarding-photo {
    width: 100px;
    border-radius: 100px;
    float: left;
}

/* Register Section */
.registration {
    margin: auto;  
    background-color: #E4FDE1;
}

.register-card {
    display: block;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 40%;
    font-size: 16px;
    line-height: 28px;
    margin: auto;
    background-color: #456990;
    padding: 50px 0 100px;
    border-radius: 10px;
}

.register-card-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    color: #E4FDE1;
    padding-bottom: 30px;
}

.register-card-content {
    padding-top: 30px;
    text-align: center;
    
}

.register-card-content p {
    color: #E4FDE1;
    padding-bottom: 50px;
    width: 50%;
    margin: auto;
    padding-right: 10px;
    font-size: 20px;
}

.form-div {
    padding: 10px;
}

.form-field {
    height: 30px;
    border-radius: 5px;
    width: 40%; 
}

.register-button {
    height: 40px;
    border-radius: 5px;
    color: black;
    background-color: #E4FDE1;
    font-family: 'Arvo', serif;
    width: 20%;
}

.register-button:hover {
    background-color: #456990;
    color: white;
}

.id-div {
    padding-right: 100px;
    
}

/* Customers List Page */
.customers-section {
    margin: auto;
    background-color: #E4FDE1;
    width: 100%;
    height: 400px;
}

.customer-card {
    background-color: white;
    margin-left: 28%;
}

th {
    padding: 20px 80px;
    position: relative;
    left: 200px;
}

td {
    padding: 20px;
    position: relative;
    left: 200px;
    color: black;
}