<!--
======================================
; Title: _footer.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us footer partial
; Sources Used: WEB 340 Assign_5
;====================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Footer featured on all pages -->
    <footer class="main-footer">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Brett Grashorn -
        <a href="https://www.bellevue.edu/">Bellevue University</a>
      </p>
    </footer>
  </body>
</html>
