<!--
======================================
; Title: _header.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us header partial
; Sources Used: Web 340 Assign_5
;====================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Nav Bar Header featured on all pages -->
    <header>
      <div class="nav">
        <div class="nav-bar">
          <ul>
            <li><a href="customer-list">Customer List</a></li>
            <li><a href="register">Registration</a></li>
            <li><a href="grooming">Grooming</a></li>
            <li><a href="boarding">Boarding</a></li>
            <li><a href="training">Training</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Top Banner and Title featured on all pages -->
    <section class="banner">
      <div class="banner-div">
        <h1 class="banner-header"><a href="/">Pets-R-Us</a></h1>
        <h3 class="slogan-text">Every pets dream</h3>
        <img class="pet-banner" src="images\pets-lineup.jpg" alt="Pets" />
      </div>
    </section>
  </body>
</html>
