<!--
======================================
; Title: boarding.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us boarding page
; Sources Used: WEB 200/231
;====================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Adds Header Partial -->
    <%- include('_header.ejs') %>
    <!-- Boarding Section -->
    <section class="boarding-info">
      <h2>Boarding</h2>
      <div class="boarding-content">
        <div>
          <p class="boarding-paragraph">
            Here at Pets-R-Us we offer boarding for your pet while you are away.
            It's as simple as signing up for your needed time and dropping your
            friend off at that time! We have specialists here day and night to
            take care of your furry friend. Price includes meals, a bath, and
            play time.
          </p>
          <img class="boarding-photo" src="images\cat-one.PNG" alt="Walter" />
        </div>
      </div>
    </section>
    <hr />
    <!-- Pricing Section -->
    <section class="pricing">
      <h2>Pricing</h2>
      <div class="pricing-content">
        <div>
          <!-- Prices Card -->
          <div class="card">
            <div class="card-title">Pricing</div>
            <div class="card-content">
              <ul>
                <li>One Night: $40</li>
                <li>2-6 Nights: $70-$210</li>
                <li>One Week: $225</li>
              </ul>
            </div>
          </div>
          <img class="pricing-photo" src="images\hs-dog.PNG" alt="Dog" />
        </div>
      </div>
    </section>
    <!-- Adds Footer Partial -->
    <%- include('_footer.ejs') %>
  </body>
</html>
