<!--
======================================
; Title: register.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us registration page
; Sources Used: WEB 200/231/340
;====================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="styles/css/site.css" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet"
        />
        <script type="application/javascript" src="customers"></script>
  </head>
  <body>
    <!-- Adds Header Partial -->
    <%- include('_header.ejs') %>

    <!-- Registration Section -->
    <section class="registration">
      <!-- Creates card for Registration -->
      <div>
        <div class="register-card">
          <div class="register-card-title">Register</div>
          <div class="register-card-content">
            <p>
              Register for an account so you can access all the services we
              offer and get notifications sent directly to you.
            </p>
            <div class="form-div id-div">
              <form action="/customers" method="post">
              <label for="customerId">Customer ID:</label>
              <input
                class="form-field"
                type="text"
                name="customerId"
                id="customerId"
                placeholder="customerID"
                required autofocus
              />
            </div>
            <div class="form-div">
              <label for="email">Email:</label>
              <input
                class="form-field"
                type="text"
                name="email"
                id="email"
                placeholder="sample@email.com"
                required autofocus
              />
            </div>
            <div class="button-div">
              <button class="register-button" type="submit" id="btnSubmit" value="Pets-R-Us Register">Register</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Adds Footer Partial -->
    <%- include('_footer.ejs') %>

    <script type="module"></script>
  </body>
</html>
