<!--
======================================
; Title: training.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us training page
; Sources Used: WEB 200/231
;====================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Adds Header Partial -->
    <%- include('_header.ejs') %>

    <!-- Training Section -->
    <section class="training-info">
      <h2>Training</h2>
      <div class="training-content">
        <div>
          <p class="training-paragraph">
            Here at Pets-R-Us we offer training for all types of pets. We have
            experts here to help your furry friend to learn all the basics to
            make the adjustment to home living easy. We coach you and your pet
            through multiple basic commands that you can use at home.
          </p>
          <img class="training-photo" src="images\cat-two.PNG" alt="Walter" />
        </div>
      </div>
    </section>
    <hr />
    <!-- Pricing Section -->
    <section class="pricing">
      <h2>Pricing</h2>
      <div class="pricing-content">
        <div>
          <!-- Prices Card -->
          <div class="card">
            <div class="card-title">Pricing</div>
            <div class="card-content">
              <ul>
                <li>Big Dogs: $150</li>
                <li>Small Dogs: $100</li>
                <li>Cats: $50</li>
                <li>Other: $25-$200</li>
              </ul>
            </div>
          </div>
          <img class="pricing-photo" src="images\sweater-dog.PNG" alt="Dog" />
        </div>
      </div>
    </section>
    <!-- Adds Footer Partial -->
    <%- include('_footer.ejs') %>
  </body>
</html>
